sudo: false
dist: trusty
language: node_js
node_js:
  - '7'
  - '6'
  - '5'
  - '4'

before_install:
  # Parameters used during release
  - git config user.name "$GH_USER"
  - git config user.email "$GH_USER_EMAIL"

  # setup https authentication credentials, used by ./mvnw release:prepare
  - git config credential.helper "store --file=.git/credentials"
  - echo "https://$GH_TOKEN:@github.com" > .git/credentials
  - npm i -g npm-cli-login

install:
  - echo "Installing ..."

script:
  - echo "Npm deploy email= $NPM_EMAIL"
  - echo "No npm test needed!"

after_success:
  - echo "Running after success step ..."

before_deploy:
  - echo "Running before deploy step ..."
  - echo "Email= $NPM_EMAIL"
  - echo "User= $NPM_USER"
  - echo "Password= $NPM_PWD"
  - echo "===================================="
  - npm-cli-login -u $NPM_USER -p $NPM_PWD -e $NPM_EMAIL

deploy:
  provider: npm
  skip_cleanup: true
  email: $NPM_EMAIL
  api_key:
    secure: XCpKoBUC2yW39qU3fhlA9dycb5JS+E+7xE5k9nQSdIEsScsxC574DU3EE4OYECkVq0vHIa7gRz39M80udlVDmtx3Q61v6QE7WO3jGxqlXuJUoM48l0sIbgv8bJzawCIT1GL1XD9qYCNLiWt9XESLAY1mKesNwU8BG3E/2miLnD6Yji6DnpcTvygZ6ftyVNzU/sMDIZPCXNpiRYvLOpmX0BUVie1GNGFvrQTLI422Qqb97dDKiZb04WQ31VZLNNliCl5SYpInvf/WP6V7MFDf1grVWfe3dPDeNoITeMILxJTVGa2MrlMVMK3q3TMfIGI0+k9wNOoG+l09IwjA1g8qCQS4sGmAEM+Izwt53hHAgqEYg69AOlN7hY6IUZjNo5xdZli3YpF9gdQ7DfJkryZOPln4xjPbo6KZDvsrPYly0YEU57+wY3pd6uAGoOG4XbDMmtzvYcZgTH+HayXvrHw1p0BOz7+b6vaV8MGqTcSNXVcjlbPZ+zy42APbyeD2ngCNcpdCK2/GtRNQEknysgeo3neYdN9KfGn36icSrvwR+qJbdS6A38idnNuDm1/lmwL0M+WRcQCwQy+mvKnT0Ik33xlUSee9qLrQV0Iy/6ugXgWvXBnmfIMLugLvAU2VBsP4r7PcZ1AZlvVTEkQE2KnzT9aMD9P4PnM7ozw0rR4Zdgk=
  on:
    tags: true
    repo: djantaio/travisci-npm-deploy

after_deploy:
  - echo "Running after deploy step ..."
  - echo "registry.npmjs.org/:_authToken=/:_authToken=$NPM_TOKEN" >> ~/.npmrc
  - cat "~/.npmrc"
   - echo "==================================="
  - npm config ls -l

env:
  global:
    #Encrypted "NPM_EMAIL"
    secure: ae/Sdnp3p87xLQjI9Ltr9Guq9Mf+FF8UtEjQb04ezO6RGhXqnr4KSYjaNDaMhcl0kPrYVUKNm/2V95M42x+eDQ/6qFoGX1WQ7evSACqSLyI3G1d6MQwUw9BmENVpnAWxGJxmTR+ptBt/CVoBV3nuqV/EeqZcIrgd0U7fYddUAodylcqtB2FngsOAx0hgIQMkU61AN/rA6pz3QJQSnxozGtIoxLKIB6QF+RfMlBx4xMJlUTTiGvr+9Aa+OlcC0LLxYasNfYeZOpwJo7WQ8mh97ttyHJKR+ZJVKlkM7GtD+cl52BcUDsiEjNmewv6B6mflypVEdfCb8wTrGtrqVtfSHsyogwDNl9oZCJTAGZ2LWmKb+YOtIjgUwCxntTPTBxWZvhRhoQ6mPfhtkiv74SgCrQpOF2iHRVZHG+Fd9xinZ/C19GGxAOey0Uk3gSjTFTAvKZS5RczoKYn5a4ubzSfG5/xY1IHQzgDpaof8tVMeGcm6UFH5J0aPC3mODSPVtP3W1j64tG6TT97BYSO7cvs7hnuAa8S4/2yOJTAJYGJ3jmPgLBSSU9QbC2SIlcWVzqZEwXcvk9bprPRdypSGKqsFk5yFt4I3AmwKSGBPS+YLpY7ADNyBzPun7m/aBru7XYoHZhgWOXJK9Hl89Np2JsB3DLyNF1ttiGBg72TL7zt+XR8=
    #Encrypted "NPM_USER"
    secure: 4IndnB/kye/FG8GOZ8Yyuy/isAOj4duqv97HZIaNHH00fZr38lBc5Hj/8oZ9kl2NScv8RQR37aBVltrdZCU23Lkam8JOWJQQgAFYziubN/0BM4CHMiHP8puh5rcmlv6a7QmsipeASlZ8eDOQJ/76ou1cofipIDeza8YSNX1Mwp0qvlgGh2V3mebYKVIw0V8VxCp2V2wVXCjbcd/3r6tuvYA9qLxMPeR6UxAhZam4Figa1au5mo5iSYtWIkYuys3947/XjSRhR6F4taw9s6jJ4l+s2vy6TLzE7QPaKJbTlJdm5l+Pul2RuZ/MGt3P+HMfp5ipulCNX/uO10R3tfHZ6lOKpcxYuGD6W9MvbaXMVlvSF43IpEB4T/csN7LNkGhajFeoNG/dM1Trh29wbL9ZojtNDCg30O21vSTDnUCqMbKNTFJBazsmFg7rsAailyF9iD0kuukKo5gcPRag0Ka6wGLc1J5lmws7VMmdDldwNguTXESU3AhGUGIWG0v/bCxjchcNdYDHwVYj5Zh1QwsZ9/nXHf3eMJQwYUAYwFBrCMqZoJkh0OXiDDGt0VTSnSQVoUa1c25BamA5CsXcupBEqtlXpRgZurTTJuR9hBo80aAXXDZWmftQkSLwl5CUMc01cTzaXISaME86j7Xp5xvBmCnY39LwmvhMfTIX9dLWX3o=
    #Encrypted "NPM_PWD"
    secure: 9OkXIbCAU9RXG0OKsjHT9n+PWRuPQ/lpgOfU4ZcRdN9lccf8ZI4Ww1lM0XTZ90ch7K+SdDdKNQfzk7GSZxdsUShcE7QYZj3cMNGQPDyH8Fk7h4oYCsrz43RNmsmS2YqHiZ/Gcz7VgzwT2xC/3CC4mkfDmaif6nueSY4TqKuE9gBVx7M9MCQvj6xgVUF2FMaiFFz9jzY4/v75Ax5RvvygdOfRe4ieHjDEXYP47bm44DlgUHwpQ8GM6JrRpLTQVG0WmmUp685YvmvbD8Cb98WHvbGgj0btwKv+fUqU/NSXmPgx0wrcB3R0/7UOsVl7iBKP8PyB7besI+RSPAIbZdAu0Sz4/CNTnFRr+nI8t1gH3BNgi3yBB66YVx6rIg6olHY2dYCH0bV0nzG5W6OL1i72SgluFTtQO7sFmokmn4hPkeokhFOlGj79kWUKc2ActLSs2b+5m8d3IqaXyIRfudox+4G+VpkTh/n9Yr9Svqfe5NjFkFsss2i9QJLWESUyCybDd5Hj3a7n4TOJ8XuC0ZGuoapfjw/WhbmBXBhOlK4rwjwet2wmyI96bii2W2mp6B39a6E4RNp7pZlPPM9Ocf15X8zsUfuMpKX5E0xDznLoYwXAw4u/FAoW24yZogpZDvIgpUHzlsdHYXIiZixClss/354imdpknEFDVcNVnKOgX2U=
