sudo: required
dist: trusty
language: node_js
node_js:
  - '7'
  - '6'
  - '5'
  - '4'
before_install:
  - git config user.name "$GH_USER"
  - git config user.email "$GH_USER_EMAIL"
  - git config credential.helper "store --file=.git/credentials"
  - echo "https://$GH_TOKEN:@github.com" > .git/credentials
install:
  - echo "Installing ..."
  - bash ./install.sh
script:
  - echo "Npm deploy email= $NPM_EMAIL"
  - echo "No npm test needed!"
after_success:
  - echo "Running after success step ..."
before_deploy:
  - echo "Running before deploy step ..."
  - expect -f npm/login.sh $NPM_USER $NPM_PWD $NPM_EMAIL
deploy:
  provider: npm
  skip_cleanup: true
  email: "$NPM_EMAIL"
  api_key: "$NPM_TOKEN"
  on:
    tags: true
    repo: djantaio/travisci-npm-deploy
after_deploy:
  - echo "Running after deploy step ..."
  - npm logout
env:
  global:
    - secure: 0P6fFHMISpAHYWQ34nIf/uRgyQWqhXMpHS7F7M/hGKwRv1lZ7euMQNmgIhMPEAyiJmSlTfvk8EzE3PfY5Qza5CLZuc5/9onngMsWbi86Ui/1JB/01hA6xzcP5ZG8kpgXfzul4yEmhZob6I7FoDvTCHIPT+Twc1oSgNIsj0BliPUwdOT6x9H3g6MQCTJ+4JdR8rSnNPZhOZvh4+K9WEpjJpNh/LiCAAybJZ07k+8qVTSKe9lZDDHtPhlCgm9co5VcQXObxXuv9TcN5fCw7TNRBwP6NifG8/uxjY1aG0mm7ICytvypNGm8rDTy+vRddOM+0QEv6gCWNJtRafqCdcDhwOvq/TpVlvNc8S6TkCZ6a6TrKPeD5InuEgyjdmTjfxFWJAOP4o/N7V50Y0sUrk2tsC8dKxA0FslnE6ffNlLAAt3723lB8kegxE4yTjapvxBnJh1Hj/9QN1W3/bO/i/VuxazOX+0uSIT+/KH4eNiC8j1WnoqT1n32Mix+VsO4HJIabs8/y8hGxLLBMZDA73qzw0nhPQ37M+lkc6EvfopvZBbSQ1q+7H8Obg9IVf5i/zf/HjLsvDINoZRD9B6qdj2rKRRDLBstnfHlAzkPMIHalpm7VVoCMNdofkv3bMZ4f8k5sZqBboI4HB8/aIvJQtsxvvu8I4N3nucPxBAfuWGaHDM=
    - secure: GG80KUiANKT2G+COoan/qsaWQOfKqtfryulAY5JUPi/ZTv1+oTaIAN550WWAziAUF1QRiM99GOGRcRCpHDD5tK0m9RxvLzA6Kmy7bxDSjp6UDXb/orXzqRMOAy6sDEP4tkFAVCVwbYWjfa8Z09A/UR0i0ue4GliwVO+sKJ933S+0yWs2DajOLqG1H0FoEo+zmCPHdsruJsyBvOAjAk7nymVS/p9CCS7PcBNpADbSjxZqMP+H69eBFaJhMOcsGJcqSeb49VnJ8eF0zbq6bLwHsueXWVmoIrnZEqQ77elrc94VsiUsV2ze6u6bWLlpRVILihuPnQR6BJ/wZy1/KhC65j2j+dMQSOtSOeNtri91sjUMaWttPfmkYTy4HUoJRmi79umKJZI1TumhCcYbQ3+lYdBzOK6AFA27rePwDUXtPL5JSX5AaX5RkZOk6x+mQ2ZF+DGGwwg3y5Wk8lpaa8He0TlP628qvSA/n7UJKHjIQ9H0CWXW5kitR1s6WcVkVh7QUExWeAg+tFbphnw4GsJKMPTRjyMYu1sHP20iSFW1B6CLrlCVc1eMASulqXsRewW44HIUMc03HPo0TPHgLBqPdrdDbRiSyzm1SL8gKE3S4F1k5UWRjb9tE+73yg0O59zPBNXeo6DdXG8BH/yrJCK3fHad1OrfQt9fvkrsDuaK634=
    - secure: wLVIP0pSjG/yYmqwgsIUCAwcjYEDR0vLN3k71g7zBlI/7zGMY1rXR538vAcPtq863pgjJ8tRHipRRpdf2Kv7XE/oU01EKCdlWRLYz7SLDrjSmBbgoxeHUaKxykRLWzEpu1IQXPWp8c2qtMegUS0ZBZCJwJy+0F2i2xR+gxMG7rXjgVhCb6615GVsJbSgYKo/DPbIRu9/FqlnBpHW8NX2ium48LVGfcWy3Wylc4KMnmYej4bQVwrRmziYNd97yMrQJ181ZltA4oKfQbSOXJ0SNvKbrqpnUqnhIPAw0BQQMX3WuwwCCJ5kNKdsBye2QQdIU6cfdyq/fZ7/Z+GInvSz3C4fXwad7IcVnalufEsxjTyReTiGZ8Yky9fJZW+vHS64j1WqJCJvu4m8PKczsGZsk8XD74qlTG8N4qvCwHjwG1py/2NAB51IsGkiBZ8+lsOe62hwAGHA9am7QlnbKOvK58XJOWwsuh+cJJUqHE/vEVUEKOp+mN1eXbqkzeMLkqSQyzubfKBLAffOwtRIwlY3xka7yz06BYXrtlVzkmKOWyULRJhgnC5X1B7tly85T2Jo8wMMjY0Youkdj9VPfUjqmuFX2tiDCL7jJgC2c9Swy/Fx18933qLnZxE+0YoznwR02TFZro93E3iCmNDtaOJ7rh9zCmVMA+/LsH9+19r9nfs=
    #- secure: mPJz2rz0T+5eFHIrfHunaDRungYA8LUKs7tO/OPNHFyygehrJQlHnuxrYJK7Lh2Qi3FjwEBwOEmgXZuXypCOR0UnsTwtAn7iYL8zzIZ5tBHKxW2Y3oTfqeXmUCWDdN/iW9AwRp4ZGiokWInTXxtpBCwkYOV4OZiqO7MgNPS+jfW5NU6v+v0OX2VZj+s2gGYrO0RIauMN9avyZODYAtqLFEbLVyxrne4K0awdD8v39weOkjYnmNo1WaoFs4NfmYPaBVLRKoyc8vwnVtPJpiLvyfH0TT2vRIZqEQZMuTRDbPT7xgkqeGYcaAQxQ97zf9XNO/2JkClcUO0uwhOZbN81L+5ASvyTB9vcRBx4XQ2ZY1LdCdsHdacV+Y0gsnQgA6XTHH/y3CfUqgdo0oR3MdfTSYXcIL5uTubKoX7kBNhFetSw+qqDrlf4GqQ199OgIz2SYmtxz0fq6PcBcvz1Z0qzzSzJtOxlyfJpJwj3wtueTxWLWTt4A1TP6m6s6OTxoVlFpzMYq7oUF4vHIhHqDO4C8bTAAahkuX7AmLMA/lGL+vp/P/opEUx/hunWlmp5tLO5rFGglYOZgHBn89N1kaPLdEJizXM1g7yrjQ+7eaVu0YLCezL0JTVIjJGIZM3wbMKfD4oR7DQpQTdLp/NP8UfoCAA8c3kXFrwPIyU0/rH1jlA=
